#summary-img{
    width: 100%;
}

.summary-slideshow-img {
    width: 65%;
}

.process-slideshow-img {
    width: 80%;
}

.gslide-table-img {
    width: 95%;
}

.process-img {
    width: 80%;
}

#tall-table-img {
    height: auto;
    width: 100%;
}

.carousel-indicators li {
    border-color: black;
    background-color: white;
}

.carousel-indicators .active{
    border-color: black;
    background-color: gold;
}

.idea-dia {
    height: auto;
    width: 100%;
    border: 1px solid black;
}

.gif {
    border: 1px solid black;
}

.double-proto {
    width: 100%;
    height: auto;
}