.summary-slideshow-img {
    width: 65%;
}

.process-slideshow-img {
    width: 80%;
}

.process-img {
    width: 80%;
}

#tall-table-img {
    height: 25em;
    width: 25em;
}

.carousel-indicators li {
    border-color: black;
    background-color: white;
}

.carousel-indicators .active{
    border-color: black;
    background-color: gold;
}