body {
    font-family: 'Piazzolla', serif;
    line-height: 1.8;
}

mark {
    background: gold;
}

.body-title {
    font-size: x-large;
}

.body-subtitle {
    font-size: medium;
}

.body-header {
    font-size: large;
}

.body-summary {
    font-size: medium;
}

.slideshow-text {
    font-size: small;
    background: black;
}

.bold {
    font-weight: bolder;
}

.process-img-caption {
    font-size: x-small;
}

caption {
    line-height: 1.25;
}

.process-caption-div {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
}

.pit-qs {
    background-color: aqua;
}

.text-justify {
    text-align: justify;
}