body {
    font-family: 'Piazzolla', serif;
}

mark {
    background: gold;
}

.body-title {
    font-size: x-large;
}

.body-subtitle {
    font-size: medium;
}

.body-header {
    font-size: large;
}

.body-summary {
    font-size: medium;
}

.slideshow-text {
    font-size: small;
    background: black;
}

.bold {
    font-weight: bolder;
}

.process-img-caption {
    font-size: x-small;
}

.process-caption-div {
    padding-left: 5%;
    padding-right: 5%;
}